.square {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover .chess-piece {
  transform: scale(1.2);
}

.square.black {
  background-color: #ffffff;
}

.square.white {
  background-color: #B7C0D8;
}

.square-number {
  height: 30px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #9dacd6;
  color: white;
}



.chess-squares {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  gap: 0;
}

.chess-piece {
  height: 50px;
  transition: all 0.4s;
}

.cols {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: #9dacd6;
}

.board-container {
  display: flex;
  justify-content: center;
}

.rows {
  display: flex;
  flex-direction: column;
}

.rows .square-number {
  width: 30px;
  height: 80px;
}